<div id="accessibility_controls" class="content">
	<ul id="block_accessibility_textresize" class="button_row">
		<li class="access-button"><a title="Diminuir o tamanho do texto"
			id="block_accessibility_dec"
			href="http://200.239.90.67/blocks/accessibility/changesize.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;op=dec">A-</a></li>
		<li class="access-button"><a id="block_accessibility_reset"
			title="Redefinir tamanho do texto (limpa definição salva)"
			href="http://200.239.90.67/blocks/accessibility/changesize.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;op=reset"
			class="disabled">A</a></li>
		<li class="access-button"><a title="Aumentar o tamanho do texto"
			id="block_accessibility_inc"
			href="http://200.239.90.67/blocks/accessibility/changesize.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;op=inc">A+</a></li>
		<li class="access-button"><a title="Salvar definição"
			id="block_accessibility_save"
			href="http://200.239.90.67/blocks/accessibility/database.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;op=save&amp;size=1&amp;scheme=1">&nbsp;</a></li>
	</ul>
	<ul id="block_accessibility_changecolour">
		<li class="access-button"><a
			title="Default Colour Scheme (Clears Saved Setting)"
			id="block_accessibility_colour1"
			href="http://200.239.90.67/blocks/accessibility/changecolour.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;scheme=1">R</a></li>
		<li class="access-button"><a title="Lowered Contrast 1"
			id="block_accessibility_colour2"
			href="http://200.239.90.67/blocks/accessibility/changecolour.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;scheme=2">A</a></li>
		<li class="access-button"><a title="Lowered Contrast 2"
			id="block_accessibility_colour3"
			href="http://200.239.90.67/blocks/accessibility/changecolour.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;scheme=3">A</a></li>
		<li class="access-button"><a title="Alto Contraste"
			id="block_accessibility_colour4"
			href="http://200.239.90.67/blocks/accessibility/changecolour.php?redirect=http%3A%2F%2F200.239.90.67%2Fuser%2Fprofile.php&amp;scheme=4">A</a></li>
	</ul>
	<div id="block_accessibility_message" class="clearfix"></div>
	<input type="button" value="Launch ATbar"
		id="block_accessibility_launchtoolbar"
		class="atbar_control access-button" /><span class="atbar-always"><input
		type="checkbox" value="1" id="atbar_auto" name="atbar_auto"
		class="atbar_control" /><label for="atbar_auto" class="atbar_control">(sempre?)</label></span>
</div>
<span id="loader-icon"></span>